.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 500px;
    padding-right: 10px;
}