.filter_container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 5px 15px 1px rgba(34, 60, 80, 0.15);
    border-radius: 5px;
    height: fit-content;
    padding: 20px;
    gap: 30px;
}

.currency{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.currency__btns{
    .btn{
        border: 1px solid lightgray;
        padding: 10px;
        background-color: #fff;
        color: rgb(60, 180, 255);
    }

    .btn__selected{
        border: 1px solid #318aff;
        padding: 10px;
        background-color: #318aff;
        color: #fff;
    }

    .btn__selected:hover{
        cursor: pointer;
    }

    .btn:hover{
        border-color: lightskyblue;
        background-color: rgba(199, 223, 255, 0.185);
        cursor: pointer;
    }

    :first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
    }
    
    :last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
    }
}

.filter__stops{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stops__header{
    text-transform: uppercase;
}

.variants{
    display: flex;
    flex-direction: column;

    .lbl{
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .inp{
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        .only{
            border: none;
            background-color: transparent;
            color: #318aff;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .lbl:hover{
        background-color: rgba(135, 206, 250, 0.264);
        cursor: pointer;
    }
}